<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <title>BP | {% block podnazev %}{% endblock %} </title>
</head>
<body>
    <div class="menu-container">
        <nav class="menu">
            <ul>
              <li><a href="/">Úvod</a></li>
              <li><a href="{{ url_for('main.inventory') }}">Zařízení</a></li>
              <li><a href="{{ url_for('main.records') }}">Záznamy</a></li>
              <li><a href="{{ url_for('main.participants') }}">Uživatelé</a></li>
              <li><a href="/">Plán výměn</a></li>
            </ul>
          </nav>
    </div>
  <div class="container">
    
    <main class="main-container">
      {% block obsah_stranky %}{% endblock %}
      <!--<section class="left-block">     

      </section>
      <section class="right-block">

        Pravá strana

      </section>--->
    </main>
    <footer class="footer">
      <p>&copy; {% block patka %}{% endblock %}</p>
      
    </footer>
  </div>
</body>
</html>