
  
{% extends "sablona.html" %}

{% block podnazev %}
Úvodní stránka
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">
  <div class="left-content">
    <div class="sub-content">
      <div class="group-container">
        <form action="#" method="post">
          <ul class="form-list">
            <li class="form-item">
              <input type="text" id="search" name="search" placeholder="Vyhledat..." required>
                </li>
                <li class="form-item">
                      <select id="category" name="category">
                        <option value="0">Inventární číslo</option>
                        <option value="1">Sériové číslo</option>
                      </select>
                </li>
                <li class="form-item">
                      <button class="form-button" type="submit">Hledat</button>
                </li>
          </ul>
        </form>
      </div>
    </div>
    <div class="sub-content">
      <div class="nested-content">
                <span class="header">Počet zařízení na skladě</span>
                <table class="bordered-table">
                  <thead>
                      <tr>
                          <th>Kategorie zařízení</th>
                          <th>Počet</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for r in dotaz %}
                          <tr>
                              <td>{{ r.kat_nazev }}</td>
                              <td>{{ r.pocet }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
              </div>
              <div class="nested-content">
                <span class="header">Počet vydaných zařízení</span>
                <table class="bordered-table">
                  <thead>
                      <tr>
                          <th>Kategorie zařízení</th>
                          <th>Počet</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for r in dotaz2 %}
                          <tr>
                              <td>{{ r.kat_nazev }}</td>
                              <td>{{ r.pocet }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
              </div>
            </div>
          </div>
      </section>
      <section class="right-block">
        {% if pravo == True %}
        <span class="quick-link">Rychlé akce</span>
        <ul class="side">
          <li><a href="{{ url_for('main.history') }}">Historie změn</a></li>
          <li><a href="{{ url_for('news.device') }}">Nové zařízení</a></li>
          <li><a href="{{ url_for('news.user') }}">Nový uživatel</a></li>
        </ul>
        <span class="quick-link">Editace</span>
        
        <ul class="side">
          <li><a href="{{ url_for('news.location') }}">Lokace</a></li>
          <li><a href="{{ url_for('news.building') }}">Budovy</a></li>
          <li><a href="{{ url_for('news.manufacturer') }}">Výrobce</a></li>
          <li><a href="{{ url_for('news.category') }}">Kategorie</a></li>
        </ul>
        {% endif %}
        <span class="quick-link">Profil</span>
        <ul class="side">
          <li><a href="{{ url_for('login.edit') }}">Upravit</a></li>
          <li><a href="{{ url_for('login.logout') }}">Odhlášení</a></li>
        </ul>
      </section>
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}