
  
{% extends "sablona.html" %}

{% block podnazev %}
Main
{% endblock %}

{% block obsah_stranky %}
   
<section class="left-block">       
  <div class="form-container">
    <form action="#" method="POST">
      <div class="form-group">
          <label for="inv">Inventární číslo:</label>
          <input type="text" name="inv" required>
      </div>
      <div class="form-group">
          <label for="seriove">Sériové číslo:</label>
          <input type="text" name="seriove" required>
      </div>
      <div class="form-group">
          <label for="model">Model:</label>
          <input type="text" name="model" required>
      </div>
      <div class="form-group">
        <label for="nazev">Specifikace:</label>
        <input type="text" name="info">
    </div>
      <div class="form-group">
          <label for="nakup">Datum nákupu:</label>
          <input type="date" name="nakup" value="{{ x }}" max="{{ x }}"required>
      </div>
      <div class="form-group">
          <label for="poznm">Poznámka:</label>
          <input type="text" name="tran_popis">
      </div>
      
      <div class="form-group">
          <label for="kat">Kategorie:</label>
          <select name="kat">
              {% for i in k %}
                  {% if i.id_kat == 1 %}
                      <option value="{{ i.id_kat }}" selected>{{ i.kat_nazev }}</option>
                  {% else %}
                      <option value="{{ i.id_kat }}">{{ i.kat_nazev }}</option>
                  {% endif %}
              {% endfor %}
          </select>
            
      </div>
      
      
      <div class="form-group">
          <label for="vyr">Výrobce:</label>
          <select name="vyr">
            {% for i in y %}
            {% if i.id_vyr == 1 %}
                <option value="{{ i.id_vyr }}" selected>{{ i.vyr_nazev }}</option>
            {% else %}
                <option value="{{ i.id_vyr }}">{{ i.vyr_nazev }}</option>
            {% endif %}
        {% endfor %}
          </select>




      </div>
      <div class="form-group">
        <button type="submit">Založit</button>
      </div>
  </form>
  
  
</div>
      </section>
    
    


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}