
  
{% extends "sablona.html" %}

{% block podnazev %}
New Location
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">

  Přidání nové lokace. Výpis již platných      



  <table class="prehled">
    <thead>
        <tr>
            <th>Kód lokace</th>
            <th>Popis lokace</th>
            <th>Budova</th>
            <th>A</th>
        </tr>
    </thead>
    <tbody>
        {% for xko,yko in x %}
            <tr>
                <td>{{ xko.lok_kod }}</td>
                <td>{{ xko.lok_nazev }}</td>
                <td>{{ yko.bud_nazev }}</td>
                <td><form action="#" method="post">
                    <input type="hidden" name="selected_id" value="{{ xko.id }}">
                    <button type="submit">E</button></form></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
      </section>
      {% if pravo==True %}
      <section class="right-block">
        <span class="quick-link">Nová lokace</span>
        <div class="form-container">
            <form action="#" method="POST">
              <div class="form-group">
                  <label for="kod">Kód lokace:</label>
                  <input type="text" id="kod" name="kod" required>
              </div>
              <div class="form-group">
                  <label for="nazev">Název lokace:</label>
                  <input type="text" id="nazev" name="nazev">
              </div>
              
              <div class="form-group">
                  <label for="bud">Budova:</label>
                  <select id="bud" name="bud">
                    {% for i in y %}
                    {% if i.id_bud == 1 %}
                        <option value="{{ i.id_bud }}" selected>{{ i.bud_kod }} ({{ i.bud_nazev }})</option>
                    {% else %}
                    <option value="{{ i.id_bud }}">{{ i.bud_kod }} - {{ i.bud_nazev }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                    
              </div>
              
              <div class="form-group">
                  <input type="submit" value="Založit">
              </div>
          </form>
            </div>  
      
      </section>
      {% endif %}


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}