
  
{% extends "sablona.html" %}

{% block podnazev %}
New Location
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">
  <table class="dim-prehled">
    <thead>
        <tr>
            <th class="id_db">Kód</th>
            <th>Popis lokace</th>
            <th>Budova</th>
            <!--%if pravo==True%}<th class="list-akce">Akce</th> %endif%}-->
        </tr>
    </thead>
    <tbody>
        {% for r in dotaz %}
            <tr>
                <td>{{ r.Lokace.lok_kod }}</td>
                <td>{{ r.Lokace.lok_nazev }}</td>
                <td>{{ r.Budova.bud_nazev }}</td>


                </tr>
        {% endfor %}
                        <!-- % if pravo==True %}
                <td><form action="#" method="post">
                    <input type="hidden" name="selected_id" value="{ r.Lokace.id_lok }}">
                    <button class="button-akce"  type="submit">e</button>
                    <button class="button-akce"  type="submit">X</button></form>
                </td>
                % endif %}-->
    </tbody>
</table>
      </section>
      {% if pravo==True %}
      <section class="right-block">
        <span class="quick-link">Nová lokace</span>
        <div class="form-container">
            <form action="#" method="POST">
              <div class="form-group">
                  <label for="kod">Kód lokace:</label>
                  <input type="text" name="kod" maxlength="8" patern="[a-zA-Z0-9]" required>
              </div>
              <div class="form-group">
                  <label for="nazev">Název lokace:</label>
                  <input type="text" name="nazev" maxlength="32" patern="[a-zA-Z0-9]">
              </div>
              
              <div class="form-group">
                  <label for="bud">Budova:</label>
                  <select name="bud">
                    {% for i in y %}
                    {% if i.id_bud == 1 %}
                        <option value="{{ i.id_bud }}" selected>{{ i.bud_kod }} ({{ i.bud_nazev }})</option>
                    {% else %}
                    <option value="{{ i.id_bud }}">{{ i.bud_kod }} ({{ i.bud_nazev }})</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                    
              </div>
              
              <div class="form-group">
                <button type="submit">Založit</button>
              </div>
          </form>
            </div>  
      
      </section>
      {% endif %}


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}