
  
{% extends "sablona.html" %}

{% block podnazev %}
New Manufacturer
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">

  <section class="left-block">

  
    <table class="dim-prehled">
      <thead>
          <tr>
              <th>Název výrobce</th>
              {%if pravo==True%}<th class="list-akce">A</th>{%endif%}
          </tr>
      </thead>
      <tbody>
          {% for r in dotaz %}
              <tr>
                  <td style="text-align: left;">{{ r.vyr_nazev }}</td>
                  {% if pravo==True %}
                  <td><form action="#" method="post">
                      <input type="hidden" name="selected_id" value="{{ r.id_vyr }}">
                      <button class="button-akce"  type="submit">e</button>
                      <input type="hidden" name="selected_id" value="{{ r.id_vyr }}">
                      <button class="button-akce"  type="submit">X</button></form>
                  </td>
                  {% endif %}
                  </tr>
          {% endfor %}
      </tbody>
  </table>
  
        </section>
  
      </section>
      {% if pravo==True %}
      <section class="right-block">
        <span class="quick-link">Nový výrobce</span>
        <div class="form-container">
            <form action="#" method="POST">
              <div class="form-group">
                  <label for="nazev">Název výrobce:</label>
                  <input type="text" name="nazev" required>
              </div>
              
              <div class="form-group">
                  <input type="submit" value="Založit">
              </div>
          </form>
            </div>  
      
      </section>
      {% endif %}
    


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}