{% extends "sablona.html" %}

{% block podnazev %}
New Transaction
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">

    <table class="prehled">
        <thead>
            <tr>
                <th>ID</th>
                <th>Inventární číslo</th>
                <th>Kategorie</th>
                <th>Sériové číslo</th>
                <th>Lokace</th>
                <th>Uživatel</th>
                <th>Status</th>
                <th>Editováno</th>
            </tr>
        </thead>
        <tbody>
            {% for tran, zar, uziv, lok, stat, kat in x %}
                <tr>
                    <td>{{ tran.id_tran }}</td>
                    <td>{{ zar.zar_inv }}</td>
                    <td>{{ kat.kat_nazev}}</td>
                    <td>{{ zar.zar_seriove }}</td>
                    <td>{{ lok.lok_kod }}</td>
                    <td>{{ uziv.uziv_jmeno }} {{ uziv.uziv_prijmeni }}</td>
                    <td>{{ stat.stat_nazev }}</td>
                    <td>{{ tran.tran_editace }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

</section> 


<section class="right-block">
    nepoužívat, jen pro představu
    <span class="quick-link">Vyhledávání</span>
    <div class="form-container">
        <form action="#" method="POST">
          <div class="form-group">
              <label for="kod">Kód lokace:</label>
              <input type="text" id="kod" name="kod" required>
          </div>
          <div class="form-group">
              
              <select id="kat" name="kat">
                  {% for i in k %}
                      {% if i.id_kat == 1 %}
                          <option value="{{ i.id_kat }}" selected>{{ i.id_kat }} - {{ i.kat_nazev }}</option>
                      {% else %}
                          <option value="{{ i.id_kat }}">{{ i.id_kat }} - {{ i.kat_nazev }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
                
    
          
          <div class="form-group">
              <input type="submit" value="Vyhledat">
          </div>
      </form>
        </div>  



{% if pravo==True %}
  <span class="quick-link">Nová transakce</span>
  <div class="form-container">
      <form action="#" method="POST">
        <div class="form-group">
            <label for="kod">Kód lokace:</label>
            <input type="text" id="kod" name="kod" required>
        </div>
        <div class="form-group">
            <label for="nazev">Název lokace:</label>
            <input type="text" id="nazev" name="nazev">
        </div>
  
        
        <div class="form-group">
            <input type="submit" value="Založit">
        </div>
    </form>
      </div>  
 
</section>
 {% endif %}

      

    


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}