
  
{% extends "sablona.html" %}

{% block podnazev %}
New User
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">       
    <div class="form-container">
      <form action="#" method="POST">
        <div class="form-group">
            <label for="kod">ID Uživatele:</label>
            <input type="text" name="kod" required>
        </div>
        <div class="form-group">
            <label for="jmeno">Jméno:</label>
            <input type="text" name="jmeno" required>
        </div>
        <div class="form-group">
            <label for="model">Přijmení:</label>
            <input type="text" name="prijmeni">
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="text" name="email">
        </div>
        <div class="form-group">
            <label for="nastup">Datum nástupu:</label>
            <input type="date" name="nastup" value="{{ x }}" max="{{x}}" required>
        </div>
        <div class="form-group">
            <label for="heslo">Heslo:</label>
            <input type="text" name="heslo">
        </div>
        
        <div class="form-group">
            <label for="vzt">Vztah:</label>
            <select name="vzt">
                {% for i in k %}
                    {% if i.id_vzt == 2 %}
                        <option value="{{ i.id_vzt }}" selected> {{ i.vzt_nazev }}</option>
                    {% elif i.id_vzt > 2 %}
                        <option value="{{ i.id_vzt }}">{{ i.vzt_nazev }}</option>
                    {% endif %}
                {% endfor %}
            </select>
              
        </div>
        
        
        <div class="form-group">
            <label for="opr">Oprávnění:</label>
            <select name="opr">
              {% for i in y %}
              {% if i.id_opr == 1 %}
                  <option value="{{ i.id_opr }}" selected> {{ i.opr_nazev }}</option>
              {% else %}
                  <option value="{{ i.id_opr }}"> {{ i.opr_nazev }}</option>
              {% endif %}
          {% endfor %}
            </select>
  
  
  
  
        </div>
        <div class="form-group">
            <button type="submit">Založit</button>
        </div>
    </form>
    
    
  </div>
        </section>


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}