{% extends "sablona.html" %}

{% block podnazev %}
New Transaction
{% endblock %}

{% block obsah_stranky %}
   
   
<section class="left-block">
 
  
            <table class="prehled">
              <thead>
                  <tr>
                      <th>Inventární číslo</th>
                      <th>Původní lokace</th>
                      <th>Nová lokace</th>
                      <th>Nový status</th>
                      <th>Předáno uživateli</th>
                      <th>Popisek</th>
                      <th>Datum změny</th>
                  </tr>
              </thead>
              <tbody> <form action="#" method="post">
                {% for row in result %}
                {% for k in row %}
                      <tr>
                        <input type="hidden" name="id_tran[]" value="{{ k.Transakce.id_tran }}">
                          <td class="form-edit">
                            <input type="hidden" name="inv[]" value="{{ k.Zarizeni.id_zar }}">
                            <input type="text" value="{{ k.Zarizeni.zar_inv }}" readonly>
                            </td>
                          <td class="form-item"><select name="old_lok[]">  
                            <option value="{{ k.Lokace.id_lok }}">{{ k.Lokace.lok_kod }} ({{ k.Lokace.lok_nazev }})</option>
                          </select></td>
                          <td class="form-item"><select name="new_lok[]">                          
                          {% for i in lok %}
                          {% if (i.Lokace.id_lok != k.Lokace.id_lok) and (i.Lokace.id_lok != 1) %}
                              <option value="{{ i.Lokace.id_lok }}">{{ i.Lokace.lok_kod }} ({{ i.Lokace.lok_nazev }})</option>
                          {% endif %}
                          {% endfor %}
                          </select></td>
                          <td class="form-item"><select name="new_status[]" >                          
                            {% for i in status %}
                            {%if i.id_stat == 2 %}
                                <option value="{{ i.id_stat }}" selected>{{ i.stat_nazev }}</option>
                            {%else%}
                              <option value="{{ i.id_stat }}">{{ i.stat_nazev }}</option>
                            {%endif%}
                            {% endfor %}
                            </select></td>
                            <td class="form-item"><select name="new_user[]">                          
                              {% for i in uziv %}
                              {% if i.id_uziv > 3 %}
                                  <option value="{{ i.id_uziv }}">{{ i.uziv_jmeno }} {{ i.uziv_prijmeni }} ({{ i.uziv_kod }})</option>
                              {% endif %}
                              {% endfor %}
                              </select></td>
                              <td class="form-edit">                          
                                <input type="text" name="popis[]">
                                </td>
                          <td class="form-edit"><input type="date" name="datum[]" value="{{ datum }}" required></td>
                          </tr>
                  {% endfor %}
                  {% endfor %}
              </tbody>
          </table><br /> <br />
          <div class="group-container">
          <button class="form-button" type="submit">Potvrdit změny</button>
        </div>
  </form>
</section> 




      

    


 
{% endblock %}  

{% block patka %}
route: /home
{% endblock %}